.hidden
{
	display: none;
}

body
{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

#banner
{
	background-color: #2560FF;
}

#about
{
	background-color: #4778FF;
	padding-top: 3em;
	padding-bottom: 3em;
}

.aboutCont h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 2em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.aboutCont p
{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 1em;
}

#features
{
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: #2560FF;	
}

#features h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: white;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: 2em;
}


#Search
{
	background-color: #4778FF;
	padding-top: 3em;
	padding-bottom: 3em;
}

#Search img
{
	padding-bottom: 3em;
}

.searchCont h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: white;
	font-size:1.5em;
	letter-spacing: 1px;
	font-style: italic;
}

.searchCont p
{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: white;
}

#Message
{
	background-color: #2560FF;	
	padding-top: 3em;
	padding-bottom: 3em;
}

#Message img
{
	padding-top: 3em;
}

.messageCont h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: white;
	font-size:1.5em;
	font-style: italic;
}

.messageCont p
{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: white;
}

#View
{
	background-color: #4778FF;
	padding-top: 3em;
	padding-bottom: 3em;
}

.viewCont h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: white;
	font-size:1.5em;
	font-style: italic;
}


.viewCont p
{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: white;
}

#Tech
{
	background-color: #2560FF;	
	padding-top: 3em;
	padding-bottom: 3em;
}



.techCont h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: white;
	font-size: 2em;
	letter-spacing: 1px;
}

.tech
{
	width: 50%;
	margin: 0 auto;
	display: block;
	padding: 40px 0;
}

#TechIcon
{
	background-color: #4778FF;
	padding-top: 3em;
	padding-bottom: 3em;
}

#developerTitle
{
	background-color: #2560FF;
	padding-top: 3em;
	padding-bottom: 3em;	
}

#developerTitle h1
{

	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 2em;	
	color: white;
	letter-spacing: .1em;
	text-transform: uppercase;
}

#Developer
{
	background-color: #4778FF;
	padding-top: 3em;
	padding-bottom: 3em;
}

.DeveloperCont h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: white;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
	font-size:1.5em;
}

.DeveloperCont p
{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: white;
	font-size:1em;
	text-align: center;
}

#buyApp
{
	font-family: 'Rubik', sans-serif;
	background-color: #2560FF;
	padding-top: 3em;
	padding-bottom: 3em;
}

#buyApp h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size:1.5em;
	color: #ffffff;
}

#copyright
{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: .8em;
	letter-spacing: 1px;
	color: white;
	background-color: #2560FF;
	padding-top: 1.5em;
	padding-bottom: .5em;
}

/* Tablet */
@media only screen and (min-width: 40.063em) {

	header
	{
		padding-top: 1em;
		padding-bottom: 1em;
		background-color: #2560FF;
	}

	.mainNav ul
	{
		list-style-type: none;
		margin: 0;
		padding:0;
		text-align: center;
	}

	.mainNav ul li
	{
		display: inline;
	}


	.mainNav ul li a
	{
		font-family: 'Rubik', sans-serif;
		font-weight: 300;
		display: inline-block;
		padding-left: 10px;
		color: white;
		font-size: 70%;
	}

	.mainNav ul li a:hover
	{
		color: #232323;
	}

	#banner
	{
		padding-top: 3em;
		padding-bottom: 3em;
	}
	
	#features
	{
		padding-top: 4em;
		padding-bottom: 4em;
	}

	.searchCont h1
	{
   		font-size: 1.8em;
	}

	.searchCont p
	{
   		font-size: 1em;
	}

	.messageCont
	{
		padding-top: 3em;
	}

	.messageCont h1
	{
		font-size: 1.8em;
	}

	.messageCont p
	{
   		font-size: 1em;
	}

	.viewCont h1
	{
		font-size: 1.8em;
	}

	.viewCont p
	{
		font-size: 1em;
	}
	
	#Tech
	{
		padding-top: 4em;
		padding-bottom: 4em;
	}

	.techCont h1
	{
		font-size: 1.8em;
	}
	
	#developerTitle
	{
		padding-top: 4em;
		padding-bottom: 4em;		
	}

	.DeveloperCont h1
	{
		font-size: 1.8em;
	}

}

@media only screen and (min-width: 40.063em) {
	.mainNav
	{
		padding-top: 1.3em;
	}
}

@media only screen and (min-width: 51.3125em) {
	.mainNav
	{
		padding-top: 1em;
	}

		.mainNav ul li a
	{
		padding-top: 1em;
		font-size: 80%;
	}

}


@media only screen and (min-width: 53.75em) {

	.mainNav
	{
		padding-top: 1.5em;
	}

	.mainNav ul li a
	{
		padding-top: 1em;
		font-size: 100%;
	}

	.searchCont
	{
		padding-top: 3.5em;
	}

	.messageCont
	{
		padding-top: 7em;
	}

	.viewCont
	{
		padding-top: 2.5em;
	}

}

@media only screen and (min-width: 62.0625em) {

  	.searchCont
	{
		padding-top: 6em;
	}
  	.messageCont
	{
		padding-top: 8em;
	}
	.viewCont
	{
		padding-top: 6em;
	}
}
