.title {
  font-family: "Lato", sans-serif;
  font-weight: "900";
  font-size: 1.8em;
  color: #0080ff; }

.secondary-title {
  font-family: "Lato", sans-serif;
  font-weight: "700";
  font-size: 1.5em;
  color: #0080ff; }

.body-text {
  font-family: "Open Sans", sans-serif;
  font-weight: "300";
  font-size: 1em;
  line-height: 1.8;
  color: #3f3a3a; }

.about-me {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .about-me .about-me-cont {
    padding-top: 50px;
    padding-bottom: 30px; }
  .about-me img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    border-radius: 50%; }
  .about-me .title-left {
    margin-top: 10px;
    font-size: 16px; }
  .about-me .resume-btn {
    padding: 10px 60px;
    color: #ffffff;
    text-decoration: none;
    background-color: #0080ff;
    border: none;
    border-radius: 20px;
    transition: all 300ms ease; }
    .about-me .resume-btn:hover {
      opacity: 0.8;
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }
  @media screen and (min-width: 768px) {
    .about-me {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center; }
      .about-me img {
        width: 100%; }
      .about-me .title-left {
        margin-top: 10px;
        font-size: 16px; }
      .about-me .about-me-cont,
      .about-me .title-left,
      .about-me .secondary-title,
      .about-me .body-text {
        text-align: left !important; } }
