@import '../src/assets/scss/shared.scss';

.about-me {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

	.about-me-cont {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	img {
		padding-top: 20px;
		padding-bottom: 20px;
		width: 250px;
		border-radius: 50%;
	}

  .title-left {
    margin-top: 10px;
    font-size: 16px;
  }

	.resume-btn {
    padding: 10px 60px;

		color: $white;
    text-decoration: none;

		background-color: $primary-color;
		border: none;
    border-radius: 20px;

    transition: all 300ms ease;

    &:hover {
      opacity: 0.8;
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }
	}

	@media screen and (min-width: 768px) {
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;

		img {
			width: 100%;
		}

		.title-left {
      margin-top: 10px;
      font-size: 16px;
    }

    .about-me-cont,
		.title-left,
		.secondary-title,
		.body-text {
			text-align: left !important;
		}
	}
}
