.tech-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  img {
    width: 50%;
  }

  @media screen and (min-width: 576px) {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 70%;
    }
  }
}
