@import "../../assets/scss/shared.scss";

.header {
  background: linear-gradient(150deg, $primary-color, $secondary-color);

  .mobile-view {
    padding-top: 10px;
    padding-bottom: 10px;

    .menu {
      text-align: left;

      .fas {
        margin-top: 4px;
        color: $white;
      }
    }

    .logo {
      text-align: center;
      img {
        width: 100px;
      }
    }

    .email {
      text-align: right;

      .far {
        margin-top: 4px;
        color: $white;
      }
    }
  }

  .desktop-view {
    padding-top: 10px;
    padding-bottom: 10px;

    .logo {
      img {
        width: 150px;
      }
    }

    .nav-links {
      ul {
        padding-left: 0;
        margin-top: 16px;
        margin-bottom: 0;

        list-style-type: none;

        text-align: right;

        li {
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;

          a {
            text-decoration: none;
            color: $white;

            &:hover {

            }
          }
        }
      }
    }
  }
}
