.footer {
  padding: 20px 0;

  .nav-links {
    list-style-type: none;

    padding-left: 0;
    margin-bottom: 16px;

    text-align: center;

    li {
      display: inline-flex;

      margin: 0 6px;

      a {

      }
    }
  }

  .social-links {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 16px;
    text-align: center;

    li {
      display: inline-flex;
      margin: 0 6px;
    }
  }

  .copyrights {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 16px;
    text-align: center;

    li {
      display: inline-flex;
      margin: 0 6px;
    }
  }
}
