.title {
  font-family: sans-serif;
  font-size: 1.8em; }

.secondary-title {
  font-family: sans-serif;
  font-size: 1.5em; }

.body-text {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.8; }
