.title {
  font-family: "Lato", sans-serif;
  font-weight: "900";
  font-size: 1.8em;
  color: #0080FF; }

.secondary-title {
  font-family: "Lato", sans-serif;
  font-weight: "700";
  font-size: 1.5em;
  color: #0080FF; }

.body-text {
  font-family: "Open Sans", sans-serif;
  font-weight: "300";
  font-size: 1em;
  line-height: 1.8;
  color: #3F3A3A; }

.hidden {
  display: none; }

img {
  width: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #0080FF; }

@media screen and (min-width: 768px) {
  .show-mobile-only {
    display: none !important; } }

.show-medium {
  display: none; }
  @media screen and (min-width: 768px) {
    .show-medium {
      display: initial; } }

.about-us {
  padding-top: 40px;
  padding-bottom: 40px; }
  .about-us .title {
    text-align: center; }
  .about-us .body-text {
    text-align: center; }

.features .title {
  text-align: center; }

.technologies .title {
  text-align: center; }

.about-me .title,
.about-me .secondary-title,
.about-me .body-text {
  text-align: center; }

.available-on {
  padding: 30px 0;
  background: linear-gradient(150deg, #0080FF, #3CC0FA); }
  .available-on .secondary-title {
    text-align: center;
    color: #ffffff; }

.technologies {
  padding-top: 20px;
  padding-bottom: 20px; }
  @media screen and (min-width: 992px) {
    .technologies .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; } }

.available-on .available-on-links {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none; }
  .available-on .available-on-links li {
    padding-top: 10px;
    padding-bottom: 10px; }
    .available-on .available-on-links li a img {
      width: 100%; }

@media screen and (min-width: 768px) {
  .available-on {
    padding-top: 50px;
    padding-bottom: 50px; }
    .available-on .available-on-links {
      text-align: center; }
      .available-on .available-on-links li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px; }
        .available-on .available-on-links li a img {
          width: 180px; } }
