@import "../src/assets/scss/shared.scss";

.hidden {
  display: none;
}

img {
  width: 100%;
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  color: $primary-color;
}

.about-us {
  padding-top: 40px;
  padding-bottom: 40px;

  .title {
    text-align: center;
  }

  .body-text {
    text-align: center;
  }
}

.features {
  .title {
    text-align: center;
  }
}

.technologies {
  .title {
    text-align: center;
  }
}

.about-me {
  .title,
  .secondary-title,
  .body-text {
    text-align: center;
  }
}

.available-on {
  padding: 30px 0;
  background: linear-gradient(150deg, $primary-color, $secondary-color);

  .secondary-title {
    text-align: center;
    color: $white;
  }
}

.technologies {
    padding-top: 20px;
    padding-bottom: 20px;
}

.available-on {
    .available-on-links {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            padding-top: 10px;
            padding-bottom: 10px;

            a {
                img {
                    width: 100%;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;

       .available-on-links {
           text-align: center;

            li {
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
            }
        } 
    }
}