.title {
  font-family: "Lato", sans-serif;
  font-weight: "900";
  font-size: 1.8em;
  color: #0080FF; }

.secondary-title {
  font-family: "Lato", sans-serif;
  font-weight: "700";
  font-size: 1.5em;
  color: #0080FF; }

.body-text {
  font-family: "Open Sans", sans-serif;
  font-weight: "300";
  font-size: 1em;
  line-height: 1.8;
  color: #3F3A3A; }

.hero-banner {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(150deg, #0080FF, #3CC0FA); }
  .hero-banner .hero-banner-text h2 {
    font-size: 2em;
    font-weight: 300;
    color: #ffffff;
    text-align: center; }
  .hero-banner .hero-banner-text .bold-text {
    font-weight: bold; }
  .hero-banner img {
    margin-top: 20px;
    margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .hero-banner {
      padding-top: 40px;
      padding-bottom: 40px; }
      .hero-banner .hero-banner-text {
        display: flex;
        justify-content: center;
        align-items: center; }
        .hero-banner .hero-banner-text h2 {
          font-size: 2.3em;
          text-align: left; } }
  @media screen and (min-width: 992px) {
    .hero-banner {
      padding-top: 40px;
      padding-bottom: 40px; }
      .hero-banner .hero-banner-text h2 {
        font-size: 3.2em;
        text-align: left; } }
